@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 100%; */
    --background: 0 0% 87%;
    --foreground: 0 0% 3.9%;
    /* --card: 0 0% 100%; */
    --card: 0 0% 95%;
    --card-foreground: 0 0% 3.9%;
    /* --popover: 0 0% 100%; */
    --popover: 0 0% 87%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 98%;
    /* --secondary: 0 0% 96.1%; */
    --secondary: 0 0% 87%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    /* --border: 0 0% 89.8%; */
    --border: 0 0% 94%;
    /* --input: 0 0% 89.8%; */
    --input: 0 0% 94%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
  }

  .dark {
    /* --background: 0 0% 3.9%; */
    --background: 0 0% 20%;
    --foreground: 0 0% 98%;
    /* --card: 0 0% 3.9%; */
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    /* --popover: 0 0% 3.9%; */
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 98%;
    /* --secondary: 0 0% 14.9%; */
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  }
}

.bg-metallic-silver {
  background: linear-gradient(150deg, #c0c0c0 15%, #e0e0e0 30%, #ffffff 35%, #e0e0e0 40%, #c0c0c0 55%);
  background-size: 200% 200%;
  /* animation: gradientAnimation 7s ease infinite; */
}

/* Se si vuole usare l'animazione sulla card preview */
/* @keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  20% { background-position: 100% 50%; }
  90% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
